.search-banner{
    display: block;
    height: 480px;
    background-image: url('/src/assets/images/restaurant-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}