.feature-tag{
    &:nth-child(1){
        background-color: $golden;
    }
    &:nth-child(2){
        background-color: $silver;
    }
    &:nth-child(3){
        background-color: $bronze;
    }
    border-radius: 5px;
}